<head>
  <link rel="stylesheet" href="../../css/style.css" />
</head>
<style>
  .panel-block {
    align-items: center;
  }
  .panel-block > * {
    margin: 0 0.25rem;
  }
  .recipe-title {
    flex: 1;
  }
</style>
<div class="panel-block is-active">
  <span class="recipe-title"></span>
  <a
    class="modal-button button is-link open"
    data-target="modal"
    aria-haspopup="true"
    >Expand</a
  >
  <a
    class="favorite button is-link"
    data-target="modal"
    aria-haspopup="true"
  ></a>
  <button class="delete"></button>
</div>
<recipe-modal></recipe-modal>
