<head>
  <link rel="stylesheet" href="../../css/style.css" />
</head>
<style>
  .panel-block {
    align-items: center;
  }
  .recipe-title {
    flex: 1;
  }
</style>
<a class="panel-block is-active">
  <span class="recipe-title"></span>
  <span
    class="has-text-info modal-button open"
    data-target="modal"
    aria-haspopup="true"
    >Expand</span
  >
  <span
    class="has-text-info modal-button"
    data-target="modal"
    aria-haspopup="true"
    >|</span
  >
  <span
    class="has-text-info modal-button favorite"
    data-target="modal"
    aria-haspopup="true"
  ></span>
  <span class="panel-icon"><button class="delete"></button></span>
</a>
<recipe-modal></recipe-modal>
