<head>
  <link rel="stylesheet" href="../../css/style.css" />
  <form action="#">
    <div class="field">
      <label class="label">Name *</label>
      <input class="input" type="text" required />
    </div>
    <div class="field">
      <label class="label">Image</label> <input type="file" name="resume" />
      <label class="file-label">
        <input class="file-input" type="file" />
      </label>
    </div>
    <div class="field">
      <label class="label">Ingredients *</label>
      <textarea class="textarea" required></textarea>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link create">Submit</button>
      </div>
      <div class="control">
        <button class="button is-text cancel">Cancel</button>
      </div>
    </div>
  </form>
</head>
