<head>
  <link rel="stylesheet" href="../../css/style.css" />
</head>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <button class="delete close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <h2></h2>
      <p></p>
    </section>
    <footer class="modal-card-foot">
      <button class="button action is-success"></button>
    </footer>
  </div>
</div>
